  a s g i r e f = = 3 . 1 0 . 0   D j a n g o = = 5 . 2 . 8   d j a n g o r e s t f r a m e w o r k = = 3 . 1 6 . 1   g u n i c o r n = = 2 3 . 0 . 0   p a c k a g i n g = = 2 5 . 0   p i l l o w = = 1 2 . 0 . 0   s q l p a r s e = = 0 . 5 . 3   t z d a t a = = 2 0 2 5 . 2   w h i t e n o i s e = = 6 . 1 1 . 0  psycopg2-binarydj-database-url